<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.app.Roka.monthlyplan</string>
	<string>com.app.Roka.halfyearlyplan</string>
	<string>com.app.Roka.yearlyplan</string>
	<string>com.app.Roka.giftkey</string>
	<string>com.app.Roka.OneWeekPlan</string>
	<string>com.app.Roka.ThreeMonthPlan</string>
</array>
</plist>
